<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>支部风采</title>
    <load href="__PUBLIC__/res/css/global.css" />
    <load href="__PUBLIC__/res/css/left_col.css" />
    <load href="__PUBLIC__/res/css/practice_right_col.css" />
    <load href="__PUBLIC__/res/js/jquery-1.11.3.min.js" />
</head>
<body>

<!--引入头部-->
<include file="Layout/header"/>

<!--内容区域-->
<div id="content" class="comWidth">
    <!--左边栏-->
    <div class="left_col left">
        <div class="left_col_title">
            学院支部
        </div>
        <div class="left_col_items">
            <ul>
                <li><a href="{:U('PracticalActivities/socialPractice')}">计算机学院</a></li>
                <li class="active"><a href="{:U('PracticalActivities/voluntaryService')}">软件学院</a></li>
            </ul>
        </div>
    </div>
    <!--END-->

    <!--右边栏-->
    <div class="right_col right">
        <div class="right_col_title">支部风采</div>
        <div class="right_col_lists">
            <ul class="right_col_list">
                <li><a href="">新闻1</a></li>
                <li><a href="">新闻2</a></li>
                <li><a href="">新闻3</a></li>
                <li><a href="">新闻4</a></li>
                <li><a href="">新闻5</a></li>
                <li><a href="">新闻6</a></li>
                <li><a href="">新闻7</a></li>
                <li><a href="">新闻8</a></li>
                <li><a href="">新闻9</a></li>
                <li><a href="">新闻10新闻10新闻10新闻10新闻10新闻10新闻10新闻10新闻10新闻10</a></li>
            </ul>
        </div>
    </div>
    <!--END-->
</div>
<!--END-->

<!--底部-->
<include file="Layout/footer"/>
<!--END-->
<load href="__PUBLIC__/res/js/nav.js" />
</body>
</html>