<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>支部风采</title>
    <load href="__PUBLIC__/res/css/global.css" />
    <load href="__PUBLIC__/res/css/branch_left_col.css" />
    <load href="__PUBLIC__/res/css/practice_right_col.css" />
    <load href="__PUBLIC__/res/js/jquery-1.11.3.min.js" />
</head>
<body>

<!--引入头部-->
<include file="Layout/header"/>

<!--内容区域-->
<div id="content" class="comWidth">
    <!--左边栏-->
    <div class="left_col left">
        <div class="left_col_title">
            学院支部
        </div>
        <div class="left_col_items">
            <ul>
                <foreach name="currentAcademy" item="item">
                    <li class="active"><a href="{:U('BranchElegence/showlist','branchapperanceacademy=' . $item[academyname])}">{$item[academyname]}</a></li>
                </foreach>
                <foreach name="listAcademy" item="item">
                    <if condition="$item.academyname neq $title">
                       <li><a href="{:U('BranchElegence/showlist','branchapperanceacademy=' . $item[academyname])}">{$item[academyname]}</a></li>
                    </if>
                </foreach>
            </ul>
            <div class="lnzm_small_page">{$pageAcademy}</div>
        </div>
    </div>
    <!--END-->

    <!--右边栏-->
    <div class="right_col right">
        <div class="right_col_title">{$title}</div>
        <div class="right_col_lists">
            <ul class="right_col_list">
                <foreach name="listApperance" item="item">
                    <li><a href="{:U('BranchElegence/showContent','branchapperanceid=' . $item[branchapperanceid])}">【{$item[branchapperancebranch]}】{$item[branchapperancetitle]}</a></li>
                </foreach>
            </ul>
        </div>
    </div>
    <!--END-->
</div>
<!--END-->
<div class="lnzm_page comWidth">{$pageApperance}</div>
<!--底部-->
<include file="Layout/footer"/>
<!--END-->
<load href="__PUBLIC__/res/js/nav.js" />

</body>
</html>