<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>专题-在这里感悟爱国</title>
    <load href="__PUBLIC__/res/css/global.css" />
    <load href="__PUBLIC__/res/css/fulltext.css" />
    <load href="__PUBLIC__/res/js/jquery-1.11.3.min.js" />
</head>
<body>

<!--引入头部-->
<include file="Layout/header"/>

<div id="content">
    <!--目录栏-->
    <div class="catalog left">
        <div class="cata_title">
            目录
        </div>
        <ul>
            <li>
                <a href="{:U('Patriotic/fullText','page=1')}">
                    <span class="item_l">向西方列强亮剑的民族英雄</span>
                    <span class="item_s">——鸦片战争博物馆</span>
                </a>
            </li>
            <li>
                <a href="{:U('Patriotic/fullText','page=8')}">
                    <span class="item_l">老百姓的胜利</span>
                    <span class="item_s">——三元里人民抗英斗争纪念馆</span>
                </a>
            </li>
            <li>
                <a href="{:U('Patriotic/fullText','page=15')}">
                    <span class="item_l">义不独生的坚决</span>
                    <span class="item_s">——邓世昌纪念馆</span>
                </a>
            </li>
            <li>
                <a href="{:U('Patriotic/fullText','page=24')}">
                    <span class="item_l">天下为公的伟人情怀</span>
                    <span class="item_s">——孙中山故居</span>
                </a>
            </li>
            <li>
                <a href="{:U('Patriotic/fullText','page=32')}">
                    <span class="item_l">七十二壮士的热血</span>
                    <span class="item_s">——黄花岗七十二烈士陵园</span>
                </a>
            </li>
            <li>
                <a href="{:U('Patriotic/fullText','page=41')}">
                    <span class="item_l">两千年封建帝制的终结</span>
                    <span class="item_s">——辛亥革命纪念馆</span>
                </a>
            </li>
            <li>
                <a href="{:U('Patriotic/fullText','page=50')}">
                    <span class="item_l">青年先锋聚广州</span>
                    <span class="item_s">——团一大纪念广场</span>
                </a>
            </li>
            <li>
                <a href="{:U('Patriotic/fullText','page=56')}">
                    <span class="item_l">农民运动大王的风采</span>
                    <span class="item_s">——海丰澎湃故居、红宫红场旧址</span>
                </a>
            </li>
            <li>
                <a href="{:U('Patriotic/fullText','page=66')}">
                    <span class="item_l">唯一一次在广州召开的中共全国代表大会</span>
                    <span class="item_s">——中共三大会址纪念馆</span>
                </a>
            </li>
            <li>
                <a href="{:U('Patriotic/fullText','page=74')}">
                    <span class="item_l">革命者来</span>
                    <span class="item_s">——黄埔军校旧址</span>
                </a>
            </li>
            <li>
                <a href="{:U('Patriotic/fullText','page=80')}">
                    <span class="item_l">农民运动骨干、从这里走向全国</span>
                    <span class="item_s">——农民运动讲习所旧址纪念馆</span>
                </a>
            </li>
            <li>
                <a href="{:U('Patriotic/fullText','page=89')}">
                    <span class="item_l">打倒军阀陈炯明</span>
                    <span class="item_s">——汕头东征军革命史迹陈列馆</span>
                </a>
            </li>
            <li>
                <a href="{:U('Patriotic/fullText','page=98')}">
                    <span class="item_l">历时最长的一次大罢工</span>
                    <span class="item_s">——省港大罢工纪念馆</span>
                </a>
            </li>
            <li>
                <a href="{:U('Patriotic/fullText','page=106')}">
                    <span class="item_l">“共产党第一任总司令”的铮铮铁骨</span>
                    <span class="item_s">——叶挺独立团遗址</span>
                </a>
            </li>
            <li>
                <a href="{:U('Patriotic/fullText','page=114')}">
                    <span class="item_l">北伐的号角</span>
                    <span class="item_s">——北伐战争纪念馆</span>
                </a>
            </li>
            <li>
                <a href="{:U('Patriotic/fullText','page=123')}">
                    <span class="item_l">坚定与浪漫的交响曲</span>
                    <span class="item_s">——周文雍陈铁军烈士陵园</span>
                </a>
            </li>
            <li>
                <a href="{:U('Patriotic/fullText','page=130')}">
                    <span class="item_l">第一次建立城市苏维埃政权的尝试</span>
                    <span class="item_s">——广州起义纪念馆、广州起义烈士陵园</span>
                </a>
            </li>
            <li>
                <a href="{:U('Patriotic/fullText','page=139')}">
                    <span class="item_l">伟人流芳</span>
                    <span class="item_s">——中山纪念堂</span>
                </a>
            </li>
            <li>
                <a href="{:U('Patriotic/fullText','page=148')}">
                    <span class="item_l">红色粤东铸丰碑</span>
                    <span class="item_s">——平远县红军纪念园</span>
                </a>
            </li>
            <li>
                <a href="{:U('Patriotic/fullText','page=156')}">
                    <span class="item_l">迫使日军三易主帅的十九路军</span>
                    <span class="item_s">——十九路军淞沪抗战将士陵园</span>
                </a>
            </li>
            <li>
                <a href="{:U('Patriotic/fullText','page=162')}">
                    <span class="item_l">力挽狂澜的诗人元帅</span>
                    <span class="item_s">——叶剑英纪念馆</span>
                </a>
            </li>
        </ul>
    </div>
    <!--END-->

    <!--右边栏-->
    <div class="articles right">
        <div class="article_title">
            <div class="back"><a href="{:U('Patriotic/preface')}">返回专题</a></div>
            <div class="title">
                <h2>在这里感悟爱国</h2>
            </div>

        </div>
        <div class="article_body">
            <img src="{$src}" alt="文章">
            <div class="pages">
                <a href="{:U('Patriotic/fullText','page='.$next)}">下一页</a>
                <if condition="$page gt 1">
                    <a href="{:U('Patriotic/fullText','page='.$pre)}">上一页</a>
                    <else /><a href="#">上一页</a>
                </if>
            </div>
        </div>

    </div>

    <!--END-->

</div>
<!--END-->

<!--引入底部-->
<include file="Layout/footer"/>
<!--END-->
<load href="__PUBLIC__/res/js/nav.js" />
</body>
</html>