<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>在这里感悟爱国-专家导读</title>
    <load href="__PUBLIC__/res/css/global.css" />
    <load href="__PUBLIC__/res/css/left_col.css" />
    <load href="__PUBLIC__/res/css/introduction_right_col.css" />
    <load href="__PUBLIC__/res/js/jquery-1.11.3.min.js" />
</head>
<body>

<!--引入头部-->
<include file="Layout/header"/>

<div id="content" class="comWidth">
    <!--左边栏-->
    <div class="left_col left">
        <div class="left_col_title">
            在这里感悟爱国
        </div>
        <div class="left_col_items">
            <ul>
                <li><a href="{:U('Patriotic/preface')}">序</a></li>
                <li class="active"><a href="{:U('Patriotic/introduction')}">专家导读</a></li>
                <li><a href="{:U('Patriotic/fullText')}">阅读全文</a></li>
            </ul>
        </div>
    </div>
    <!--END-->

    <!--右边栏-->
    <div class="right_col right">
        <div class="right_col_title">为什么是<strong style="font-size:30px;color:#ed1941;">广东？</strong></div>
        <div class="right_col_content">
            <p style="text-align: center;"><span style="font-size: medium;color:#ffffff">黄利新</span></p>
            <p style="text-align: left;"><span style="font-size: medium;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="font-size: large;"><strong style="font-size:30px;font-weight:300;">在</strong>广东，尤其在广州，中国近现代史的遗迹、革命纪念场馆特别多，这是一笔十分珍贵的历史文化遗产和精神财富，也昭示着在广东这片土地上曾经风起云涌、天翻地覆。为什么在广东发生了这么多举世瞩目的大事件呢？这与其在中国近现代史尤其是近代史上独特的历史地位密切相关。</span></span></p>
            <p style="text-align: left;"><span style="font-size: medium;"><span style="font-size: large;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 第一，作为近代中国思想家、革命家的摇篮，广东引领了中国近现代先进思想的潮流。</span></span></p>
            <p style="text-align: left;"><span style="font-size: medium;">&nbsp; &nbsp; &nbsp; &nbsp; </span><span style="font-size: large;">自184年鸦片战争以来，中国一次次遭到列强的欺凌。为了救国救民，先进的中国人开始寻求改变，学习西方探索救亡图存的道路。学习的过程是逐步深化的，由器物到制度再到文化。在这一过程中，广东始终走在时代的前列。&nbsp;</span></p>
            <p style="text-align: left;"><span style="font-size: large;">&nbsp; &nbsp; &nbsp;&nbsp; 广东花县农民洪秀全是近代中国最大规模的农民起义&mdash;&mdash;&mdash;太平天 国的领袖，他颁布的革命纲领《天朝田亩制度》使太平天国起义达到了中国历史上农民战争的最高峰，洪仁玕撰写的《资政新篇》在中国历史上第一次系统提出发展资本主义主张。中国近代化的第一步是从洋务运动开始的，广东人是洋务思潮的重要推动者，郑观应、何如璋等积极参 加洋务运动，其中郑观应的商战思想在当时颇有影响力。戊戌变法中，康有为、梁启超是这次变法的思想领袖与组织者，他们积极宣传维新变法，希望在中国建立君主立宪制度来改变中国的命运。辛亥革命时期，民主革命的先行者、革命领袖孙中山的三民主义思想成为这次革命的指导思想，而广东人廖仲恺、胡汉民、朱执信、何香凝等都是这次革命的 骨干，从革命组织的创立、革命理论的建设、起义的组织实施到中华民 国的建设，广东人民功不可没。新民主义革命时期，广东仍然是风云际会，群雄并起，如叶剑英、苏兆征、张太雷、彭湃、林伟民、叶挺等无产阶级革命家、思想家，他们为中国新民主主义革命的胜利乃至向社会主义过渡做出了重大贡献。一代又一代广东人站在各自时代的潮头，引领着先进思想的潮流。</span></p>
            <p style="text-align: left;"><span style="font-size: large;">&nbsp; &nbsp; &nbsp;&nbsp; 第二，作为中国近现代重大事件的发生地，广东推动和加速了中国革命胜利与现代化的进程。</span></p>
            <p style="text-align: left;"><span style="font-size: large;">&nbsp; &nbsp; &nbsp;&nbsp; 广东东莞的&ldquo;虎门销烟&rdquo;拉开了鸦片战争的序幕，广东是禁烟的主战场；广东率先展开洋务运动，广州同文馆、广东水师学堂等是广东洋 务的重要标志；近代资本主义工商业最早出现在广东，陈启沅在南海创 办的继昌隆缫丝厂是中国最早的民族工商业之一。此外，中国民族工商业第一家火柴厂、第一家电灯公司、第一家橡胶厂都是产生于广东。广东也一直是重要的革命基地。辛亥革命前，孙中山领导的十次起义有六次发生在广东，其中最为有名的就是黄花岗起义；辛亥革命后，为反对北洋军阀的统治，孙中山又以广东为基地领导了护国运动、护法 运动。马克思主义传入中国后，广州又是最早诞生共产主义小组的地区之一，为中国共产党成立奠定了组织基础。1923年，中共三大在广州召开，中国共产党正式做出同国民党合作的决议，建立革命统一战线，1924年1月，国民党&ldquo;一大&rdquo;在广州召开，国共两党第一次合作正式形成。随后广东成为了北伐的基地，1924年5月，黄埔军校创办。工农运动也蓬 勃发展，1925年5月，中华全国总工会在广州成立。1925年6月&mdash;1927年4月的省港大罢工，不仅是在中国历史上，也是在世界历史上坚持时 间最长的罢工。1922年，彭湃在海丰建立广东第一个农会组织。1925年7月，国共合作的国民党在广州设立农民运动讲习所，彭湃为主任，1926年5&mdash;9 月，毛泽东任第六届主任。1927年12月，张太雷、叶挺、 叶剑英等在广州发动起义，建立了第一个共产党领导的革命政府，被称 为东方的&ldquo;巴黎公社&rdquo;。广东为中国革命胜利与中国现代化推进做出了不可替代的贡献。</span></p>
            <p style="text-align: left;"><span style="font-size: large;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 为什么古代史上被称为&ldquo;化外蛮夷&rdquo;之地的广东会走到全国的革命前列，精英辈出，引导潮流，在全国的影响和地位不断提高呢？首先，广东地区得天独厚的地理位置便于其&ldquo;得风气之先&rdquo;，引领时代潮流。一部中国近现代史就是帝国主义列强把中国变为半殖民地半封建社会的历史，也是一部中国人民抛头颅洒热血将半殖民地半封建的中国变为新中国的历史。在这个过程中，中西方文化不断碰撞，古老的中国由闭关自守到被迫开放，再到向西方学习，寻求救国救民的真理。广东位于中国南部，面向海洋，距南亚诸国不远，岭南地区河流南向，珠江三角洲又拥有众多的良港，便于广东地区的经济文化交流。这种特 殊的地理位置，自然使广东处于东西方物质文化碰撞交融的要冲地位。可以说，广东在西方殖民者东来的过程中，是最先身受其害，而且反抗最为强烈，同时也是觉醒最早的省份。近代著名历史学家吕思勉，在谈到近代的历史变革时，就几次强调广东的特殊地位：&ldquo;中国与外人之接触，以广东为最早，人民之通知外情，也以广东为最&rdquo;。</span></p>
            <p style="text-align: left;"><span style="font-size: large;">&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; 其次，长期的历史发展赋予广东人的&ldquo;广东精神&rdquo;为他们走在全国革命的前列发挥了重要作用。广东地处中国南部沿海，自古以来由于生存的需求，养成了广东人吃苦耐劳、勇于进取的品格。而且，珠江三角洲地区一直以来就是中外交流的重要地区，通过这一地区以及广东人频 繁的生产活动，中国与外界得到了广泛的交流。正是这些促成广东人的群体性格&mdash;&mdash;开拓进取，敢于冒险，外向包容。再如翻开早期留美学生的档案，从1872年至1875年间，由清政府派往美国留学的四批120名中国幼童中，广东籍竟占84人，当时曾在北方招收赴美幼童留学，竟一个都招不到，因为在当时很多中国人的心目中，对美国简直一无所知，那是化外、蛮荒的代名词，充满着危险和不确定性。所以，这些幼童大多不是来自素称文化繁盛的中原地区、仕进显宦之家，而是来自岭南比较富裕开化的农民和与洋务有关的家庭。这足以说明广东人开拓进取、敢于冒险、敢为天下先，广东人在中国近现代史上走在时代的前列也不足为怪。</span></p>
            <p style="text-align: left;"><span style="font-size: large;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 优越的地理环境，独特的&ldquo;广东精神&rdquo;，造就了广东在中国近现代史的辉煌，广东成为了中国近现代革命的策源地，并在中国现代化道路上广东也先行一步。无论在思想上还是在实际行动上，广东人始终走在时代的前沿，使近、现代广东地区社会经济发生深刻变化和发展。</span></p>
            <p style="text-align: left;"><span style="font-size: large;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 改革开放以来，广东经济飞速发展，各项事业突飞猛进，成为全国改革开放的窗口与典型，是实现社会主义现代化的领跑者。这一切来自于党的英明决策、广东独特的地理环境，也归功于&ldquo;广东精神&rdquo;。习近平总书记指出：&ldquo;不忘本才能开辟未来，善于继承才能更好创新&rdquo;。如今在新的历史条件下，我们形成了&ldquo;厚于德、诚于信、敏于行&rdquo;的新时代广东精神，近现代广东历史遗迹、革命纪念场馆是广东精神的重要物质载体，作为当代的广东人尤其是大学生，我们有必要走近它们，追忆红色历史，体悟&ldquo;广东精神&rdquo;，并继承、发扬它，创造广东新的辉煌。</span></p>
            <p style="text-align: center;"><span style="font-size: large;">（本文作者为华南理工大学思想政治学院副教授）</span></p>
            <p style="text-align: left;"><span style="font-size: large;">&nbsp; &nbsp; &nbsp; </span>&nbsp; </p>
            <p>&nbsp;</p>
        </div>
    </div>
    <!--END-->
</div>
<!--END-->

<!--引入底部-->
<include file="Layout/footer"/>
<!--END-->
<load href="__PUBLIC__/res/js/nav.js" />
</body>
</html>