<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>在这里感悟爱国-推荐参观时间</title>
    <load href="__PUBLIC__/res/css/global.css" />
    <load href="__PUBLIC__/res/css/left_col.css" />
    <load href="__PUBLIC__/res/css/preface_right_col.css" />
    <load href="__PUBLIC__/res/js/jquery-1.11.3.min.js" />
</head>
<body>

<!--引入头部-->
<include file="Layout/header"/>

<div id="content" class="comWidth">
    <!--左边栏-->
    <!--左边栏-->
    <include file="Layout/Patriotic/left_col" />
    <!--END-->
    <!--END-->

    <!--右边栏-->
    <div class="right_col right">

    </div>
    <!--END-->
</div>
<!--END-->

<!--引入底部-->
<include file="Layout/footer"/>
<!--END-->
<load href="__PUBLIC__/res/js/nav.js" />
</body>
</html>