<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>行动简介</title>
    <load href="__PUBLIC__/res/css/global.css" />
    <load href="__PUBLIC__/res/css/intro.css" />
    <load href="__PUBLIC__/res/js/jquery-1.11.3.min.js"/>
</head>
<body>
<!--引入头部-->
<include file="Layout/header"/>

<!--内容区-->
<div id="content" class="comWidth">
    <div class="head"></div>
    <div class="wrap">
        <div class="title">
            <h1>“岭南追梦”行动助力社会主义核心价值观</h1>
            <h1>入心入行</h1>
        </div>
        <div class="article">
            <p>华南理工大学地处我国革命和改革开放的重要阵地广东省，有着许多社会主义核心价值观教育的优势资源：一是中国近现代史的活教材，鸦片战争、资产阶级民主革命、中国共产党许多重大革命活动都发生在广东，有很多遗迹，是革命传统教育的好教材；二是改革开放前沿的活样板，南方谈话、深圳特区、顺德模式等一系列改革开放的大事件都发生在广东；三是现代工业化的大标本，珠三角有着许多现代化的大企业，是中国综合国力日益增强的鲜活体现；四是发展不平衡的大写实，尽管广东经济总量全国排名第一，但粤东西北欠发达地区很多群众还没有脱离贫困。</p>
            <p>2015年5月，华南理工大学党委实施“岭南追梦”大学生社会主义核心价值观实践行动，把广东独特的历史地理优势和大学生社会主义核心价值观培育结合起来，把具有我校特色的人才培养目标和中华民族伟大复兴中国梦结合起来，用好优势资源，突出实践教育，引导鼓励青年学生既要在校园里“读万卷书”，也要心怀天下“行万里路”，利用课余时间和寒暑假“走读”岭南大地，推进社会主义核心价值观进教育教学、进组织生活、进社会实践、进网络媒体，推动社会主义核心价值观在大学生中内化于心外化于行，坚定中国特色社会主义道路自信、理论自信、制度自信。</p>
        </div>
    </div>

</div>
<!--END-->
<!--引入底部文件-->
<include file="Layout/footer"/>
<!--END-->
<load href="__PUBLIC__/res/js/nav.js"/>
</body>
</html>