<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>行动标识</title>
    <load href="__PUBLIC__/res/css/global.css" />
    <load href="__PUBLIC__/res/css/logo.css" />
    <load href="__PUBLIC__/res/js/jquery-1.11.3.min.js"/>
</head>
<body>
<!--引入头部-->
<include file="Layout/header"/>

<!--内容区-->
<div id="content" class="comWidth">
    <div class="head"></div>
    <div class="wrap">
        <img src="__PUBLIC__/res/img/a_logo.jpg" alt="建设中">
        <div class="detail">
            <h2>行动标识</h2>
            <p>
                整个LOGO为火炬造型，由两部分组成，底部团委形意书籍图案，寓意阅读，上部位一束火焰，寓意本系列丛书能让读者
                在阅读丛书中吸收正能量，丛书就像一束火炬，散发光和热，指引着读者向前进。
            </p>
        </div>
    </div>

</div>
<!--END-->

<!--引入底部文件-->
<include file="Layout/footer"/>

<!--END-->
<load href="__PUBLIC__/res/js/nav.js"/>
</body>
</html>