<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>行动标识</title>
    <load href="__PUBLIC__/res/css/global.css" />
    <load href="__PUBLIC__/res/css/logo.css" />
    <load href="__PUBLIC__/res/js/jquery-1.11.3.min.js"/>
</head>
<body>
<!--引入头部-->
<include file="Layout/header"/>

<!--内容区-->
<div id="content" class="comWidth">
    <div class="head"></div>
    <div class="wrap">
        <div class="detail">
            <h2>行动标识<small>（图片下载）</small></h2>
            <a href="__PUBLIC__/res/img/a_logo.jpg"><img src="__PUBLIC__/res/img/a_logo.jpg" alt=""></a>
        </div>
    </div>

</div>
<!--END-->

<!--引入底部文件-->
<include file="Layout/footer"/>

<!--END-->
<load href="__PUBLIC__/res/js/nav.js"/>
</body>
</html>