/*内容区*/
#content{
    height: 441px;
    background: url(../img/list_body.png) no-repeat;
}

.list_title{
    margin-top: 20px;
    padding-top:10px;
    font-size: 20px;
    font-weight: 400;
    height: 25px;
    line-height: 25px;
    text-indent: 20px;
}

.list_body a{
    background:url(../img/q.gif) no-repeat 62px 15px;
    text-indent: 70px;
    display: block;
    height:40px;
    line-height: 40px;
    border-bottom: dashed 1px #727272;
    font-size:15px;
}
.pages{
    margin-top: 10px;
    height: 40px;
}
.page_list li{
    display: block;
    float:left;
    height: 25px;
    width: 25px;
    margin-right: 5px;
    background-color:#ed1941;
    text-align: center;
    line-height: 25px;
}
.page_list li a{
    color:#FFFFFF;
}
