<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>岭南追梦主页</title>
	<load href="__PUBLIC__/res/css/global.css" />
	<load href="__PUBLIC__/res/css/index.css" />
	<load href="__PUBLIC__/res/js/jquery-1.11.3.min.js" />
</head>
<body>
<!--引入头部-->
<include file="Layout/header"/>
<!--大图区-->
<div id="bgPic" class="comWidth">
	<a href="{:U('Patriotic/preface')}">
		<img  src="__PUBLIC__/res//img/theme1.png"  alt="在这里感悟爱国">
	</a>
	<a href="{:U('Patriotic/preface')}">
		<img src="__PUBLIC__/res//img/bg1.jpg" alt="专题图片"/>
	</a>
	<a  href="{:U('Patriotic/preface')}">
		<img  src="__PUBLIC__/res//img/theme-3.png"  alt="专题图片">
	</a>
	<a  href="{:U('Patriotic/preface')}">
		<img src="__PUBLIC__/res//img/theme-4.png" alt="专题图片"/>
	</a>
	<!--大图区的小块-->
	<div id="smallDiv">
		<ul>
			<li class="active">1</li>
			<li>2</li>
			<li>3</li>
			<li>4</li>
		</ul>
	</div>
</div>
<!--END-->

<!--模块区-->

<div id="content" class="comWidth">
	<!--左边模块-->
	<div id="area-1" class="left">
		<div class="area left">
			<div class="info_title">
				<b class="left">工作动态</b>
				<a href="{:U('WorkTendency/showList')}"><span class="right">更多>></span></a>
			</div>
			<div class="info_body">
				<ul>
					<foreach name="listWorkTendency" item="item">
						<li>
							<a href="{:U('WorkTendency/showContent','worktendencyid=' . $item[worktendencyid])}">{$item[worktendencytitle]}</a>
						</li>
					</foreach>
				</ul>
			</div>
		</div>
		<div class="area left">
			<div class="info_title">
				<b class="left">通知公告</b>
				<a href="{:U('Notice/showlist')}"><span class="right">更多>></span></a>
			</div>
			<div class="info_body">
				<ul>
					<foreach name="listNotice" item="item">
						<li>
							<a href="{:U('Notice/showContent','noticeid=' . $item[noticeid])}">{$item[noticetitle]}</a>
						</li>
					</foreach>
				</ul>
			</div>
		</div>
		<div class="area left">
			<div class="info_title">
				<b class="left">活动实践</b>
				<a href="{:U('PracticalActivities/socialPractice')}"><span class="right">更多>></span></a>
			</div>
			<div class="info_body">
				<ul>
					<foreach name="listActivity" item="item">
						<li>
							<a href="{:U('PracticalActivities/showContent','activitypracticeid=' . $item[activitypracticeid])}">
								<if condition="$item[activitypracticetype] eq 0">【社会实践】
									<else />【志愿服务】
								</if>
								{$item[activitypracticetitle]}
							</a>
						</li>
					</foreach>
				</ul>
			</div>
		</div>
		<div class="area left">
			<div class="info_title">
				<b class="left">支部风采</b>
				<a href="{:U('BranchElegence/showlist','branchapperanceacademy')}"><span class="right">更多>></span></a>
			</div>
			<div class="info_body">
				<ul>
					<foreach name="listApperance" item="item">
						<li><a href="{:U('BranchElegence/showContent','branchapperanceid=' . $item[branchapperanceid])}">【{$item[branchapperancebranch]}】{$item[branchapperancetitle]}</a></li>
					</foreach>
				</ul>
			</div>
		</div>
	</div>
	<!--END-->
	<!--右边模块-->
	<div id="area-2" class="right">
		<div class="small_bar_pic">
			<a href="">
				<img src="__PUBLIC__/res//img/b_visitor.png" alt=""/>
				<div class="bar">
					访问量统计
				</div>
			</a>
			<a href="#">
				<img src="__PUBLIC__/res//img/b_rank.png" alt=""/>
				<div class="bar">
					支部足迹
				</div>
			</a>
		</div>
		<div class="small_block_pic">
			<div class="left" style="width: 146px;margin-left:10px;">
				<a href="{:U('Follow/followWeibo')}">
					<img  src="__PUBLIC__/res//img/b_blog.png" alt="微博关注"/>
					<div class="bar">
						微博关注
					</div>
				</a>
				<a href="{:U('Download/app')}">
					<img src="__PUBLIC__/res//img/b_app.png" alt="app下载"/>
					<div class="bar">
						app下载
					</div>
				</a>
			</div>

			<div class="right" style="width: 146px;margin-right:10px;">
				<a href="{:U('Follow/followWeixin')}">
					<img src="__PUBLIC__/res//img/b_wechat.png" alt="微信关注"/>
					<div class="bar">
						微信关注
					</div>
				</a>
				<a href="{:U('Admin/Login/login')}">
					<img src="__PUBLIC__/res//img/b_backstage.png" alt="后台登录"/>
					<div class="bar">
						后台登录
					</div>
				</a>
			</div>

		</div>
	</div>
</div>
<!--END-->
</div>
<!--END-->

<!--引入底部文件-->
<include file="Layout/footer"/>

<load href="__PUBLIC__/res/js/index.js" />
</body>
</html>