<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>岭南追梦主页</title>
	<load href="__PUBLIC__/res/css/global.css" />
	<load href="__PUBLIC__/res/css/index.css" />
	<load href="__PUBLIC__/res/js/jquery-1.11.3.min.js" />
</head>
<body>
<!--引入头部-->
<include file="Layout/header"/>
<!--大图区-->
<div id="bgPic" class="comWidth">
	<a href="{:U('Patriotic/preface')}">
		<img  src="__PUBLIC__/res//img/theme1.png"  alt="在这里感悟爱国">
	</a>
	<a href="{:U('Patriotic/preface')}">
		<img src="__PUBLIC__/res//img/bg1.jpg" alt="专题图片"/>
	</a>
	<a  href="{:U('Patriotic/preface')}">
		<img  src="__PUBLIC__/res//img/theme-3.png"  alt="专题图片">
	</a>
	<a  href="{:U('Patriotic/preface')}">
		<img src="__PUBLIC__/res//img/theme-4.png" alt="专题图片"/>
	</a>
	<!--大图区的小块-->
	<div id="smallDiv">
		<ul>
			<li class="active">1</li>
			<li>2</li>
			<li>3</li>
			<li>4</li>
		</ul>
	</div>
</div>
<!--END-->

<!--模块区-->

<div id="content" class="comWidth">
	<!--左边模块-->
	<div id="area-1" class="left">
		<div class="area left">
			<div class="info_title">
				<b class="left">行动实践</b>
				<a href="{:U('WorkTendency/showList')}"><span class="right">更多>></span></a>
			</div>
			<div class="info_body">
				<ul>
					<foreach name="listWorkTendency" item="item">
						<li>
							<a href="{:U('WorkTendency/showContent','worktendencyid=' . $item[worktendencyid])}">{$item[worktendencytitle]}</a>
						</li>
					</foreach>
				</ul>
			</div>
		</div>
		<div class="area left">
			<div class="info_title">
				<b class="left">通知公告</b>
				<a href="{:U('Notice/showlist')}"><span class="right">更多>></span></a>
			</div>
			<div class="info_body">
				<ul>
					<foreach name="listNotice" item="item">
						<li>
							<a href="{:U('Notice/showContent','noticeid=' . $item[noticeid])}">{$item[noticetitle]}</a>
						</li>
					</foreach>
				</ul>
			</div>
		</div>
		<div class="area left">
			<div class="info_title">
				<b class="left">系列读本</b>
				<!--<a href="{:U('PracticalActivities/socialPractice')}"><span class="right">更多>></span></a>-->
			</div>
			<div class="info_body">
				<ul class="book">
					<li><a href="{:U('Patriotic/preface')}">【专题】在这里感悟爱国</a></li>
					<li><a href="{:U('Innovation/index')}">【专题】在这里领悟创新</a></li>
					<li><a href="{:U('Properity/index')}">【专题】在这里追求富强</a></li>
					<li><a href="{:U('Responsibility/index')}">【专题】在这里勇于担当</a></li>
				</ul>
			</div>
		</div>
		<div class="area left">
			<div class="info_title">
				<b class="left">下载专区</b>
				<a href="{:U('Download/download')}"><span class="right">更多>></span></a>
			</div>
			<div class="info_body">
				<ul class="download">
					<foreach name="listDownload" item="item">
						<a href="__PUBLIC__/Download/{$item[downloadreleasedate]|substr=0,10}/{$item[downloadurl]}">{$item[filename]}</a>
					</foreach>
				</ul>
			</div>
		</div>
	</div>
	<!--END-->
	<!--右边模块-->
	<div id="area-2" class="right">
		<div class="small_bar_pic">
			<a href="http://theory.people.com.cn/GB/40557/120709/index.html">
				<img src="__PUBLIC__/res//img/b_value.png" alt=""/>
				<div class="bar">
					社会主义核心价值观专题网站链接
				</div>
			</a>
			<a href="http://www.12371.cn/">
				<img src="__PUBLIC__/res//img/b_dream.png" alt=""/>
				<div class="bar">
					共产党员网网站链接
				</div>
			</a>
		</div>
		<div class="small_block_pic">
			<div class="left" style="width: 146px;margin-left:10px;">
				<a href="{:U('Follow/followWeibo')}">
					<img  src="__PUBLIC__/res//img/b_rank.png" alt="排行榜"/>
					<div class="bar">
						app排行榜
					</div>
				</a>
				<a href="{:U('Download/app')}">
					<img src="__PUBLIC__/res//img/b_app.png" alt="app下载"/>
					<div class="bar">
						app下载
					</div>
				</a>
			</div>

			<div class="right" style="width: 146px;margin-right:10px;">
				<a href="{:U('Follow/followWeixin')}">
					<img src="__PUBLIC__/res//img/b_wechat.png" alt="微信关注"/>
					<div class="bar">
						微信关注
					</div>
				</a>
				<a href="{:U('Admin/Login/login')}">
					<img src="__PUBLIC__/res//img/b_backstage.png" alt="后台登录"/>
					<div class="bar">
						后台登录
					</div>
				</a>
			</div>

		</div>
	</div>
</div>
<!--END-->
</div>
<!--END-->

<!--引入底部文件-->
<include file="Layout/footer"/>

<load href="__PUBLIC__/res/js/index.js" />
</body>
</html>