<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>活动实践</title>
    <load href="__PUBLIC__/res/css/global.css" />
    <load href="__PUBLIC__/res/css/hdsj.css" />
    <load href="__PUBLIC__/res/js/jquery-1.11.3.min.js" />
</head>
<body>

<!--头部-->
<div id="header" class="comWidth">
    <!-- <div id="logo" class="left">
         <img src="./img/top.png" alt="logo" />

     </div>-->
    <div id="link" class="right">
        <a href="">学校主页</a>
        <i style="font-style: normal;color:#FFFFFF">|</i>
        <a href="">党委组织部</a>
    </div>

</div>
<!--END-->
<!--导航栏-->
<div id="nav" class="comWidth">
    <ul>
        <li><a href="">首页</a></li>
        <li class="dropdown">
            <a href="#">专题建设</a>
            <ul class="subnav ">
                <li><a href="https://www.baidu.com/">在这里感悟爱国</a></li>
                <li><a href="">在这里领悟创新</a></li>
                <li><a href="">在这里追求富强</a></li>
                <li><a href="">在这里用于担当</a></li>
            </ul>
        </li>
        <li><a href="">工作动态</a></li>
        <li><a href="">通知公告</a></li>
        <li class="dropdown ">
            <a href="{:U('Hdsj/shsj')}">活动实践</a>
            <ul class="subnav ">
                <li><a href="{:U('Hdsj/shsj')}">社会实践</a></li>
                <li><a href="{:U('Hdsj/zyfw')}">志愿服务</a></li>
            </ul>
        </li>
        <li><a href="">支部风采</a></li>
        <li><a href="">下载专区</a></li>
        <li><a href="">联系我们</a></li>
    </ul>
</div>
<!--END-->
<!--局部导航栏
<div class="position_nav comWidth">
    <span class="position_nav_pre">活动实践&gt;</span>
    <span class="position_nav_current">社会实践</span>

</div>
END-->

<!--内容区域-->
<div id="content" class="comWidth">
    <!--左边栏-->
    <div class="left_col left">
        <div class="left_col_title">
            活动实践
        </div>
        <div class="left_col_items">
            <ul>
                <li><a href="{:U('Hdsj/shsj')}">社会实践</a></li>
                <li class="active"><a href="{:U('Hdsj/zyfw')}">志愿服务</a></li>
            </ul>
        </div>
    </div>
    <!--END-->

    <!--右边栏-->
    <div class="right_col right">
        <div class="right_col_title">志愿服务</div>
        <div class="right_col_lists">
            <ul class="right_col_list">
                <li><a href="">新闻1</a></li>
                <li><a href="">新闻2</a></li>
                <li><a href="">新闻3</a></li>
                <li><a href="">新闻4</a></li>
                <li><a href="">新闻5</a></li>
                <li><a href="">新闻6</a></li>
                <li><a href="">新闻7</a></li>
                <li><a href="">新闻8</a></li>
                <li><a href="">新闻9</a></li>
                <li><a href="">新闻10新闻10新闻10新闻10新闻10新闻10新闻10新闻10新闻10新闻10</a></li>
            </ul>
            <div class="pages right">
                <ul class="page_list">
                    <li><a href="">1</a></li>
                    <li><a href="">2</a></li>
                    <li><a href="">3</a></li>
                    <li><a href="">4</a></li>
                    <li><a href="">..</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--END-->
</div>
<!--END-->

<!--底部-->
<div id="footer" class="comWidth">
    <p>2015 © 华南理工大学 版权所有  地址：广州市天河区五山路381号/广州市番禺区广州大学城邮政编码：510641/510006</p>
    <p>查号台：87110228-3 网上查号招生咨询：87110737 网站设计、管理：岭南追梦小组</p>
</div>
<!--END-->
<load href="__PUBLIC__/res/js/nav.js" />
</body>
</html>