<!--头部-->
<div id="header" class="comWidth">
    <!-- <div id="logo" class="left">
         <img src="./img/top.png" alt="logo" />

     </div>-->
    <div id="link" class="right">
        <a href="http://www.scut.edu.cn/">学校主页</a>
        <i style="font-style: normal;color:#FFFFFF">|</i>
        <a href="http://www2.scut.edu.cn/party-org/">党委组织部</a>
    </div>

</div>
<!--END-->
<!--导航栏-->
<div id="nav" class="comWidth">
    <ul>
        <li><a href="{:U('Index/index')}">首页</a></li>
        <li class="dropdown"><a href="#">行动简介</a>
            <ul class="subnav">
                <li><a href="{:U('Activity/intro')}">行动概况</a></li>
                <li><a href="{:U('Activity/logo')}">行动标识</a></li>
                <li class="dropdown" style="position: relative">
                    <a href="">专题建设</a>
                    <ul class="subnav " style="position:absolute;top:0;left:160px;">
                        <li><a href="{:U('Patriotic/preface')}">在这里感悟爱国</a></li>
                        <li><a href="{:U('Innovation/index')}">在这里领悟创新</a></li>
                        <li><a href="{:U('Properity/index')}">在这里追求富强</a></li>
                        <li><a href="{:U('Responsibility/index')}">在这里勇于担当</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="{:U('WorkTendency/showList')}">行动实践</a></li>
        <li><a href="{:U('Notice/showlist')}">通知公告</a></li>
        <li><a href="{:U('Download/download')}">下载专区</a></li>
        <li><a href="{:U('Follow/contactus')}">联系我们</a></li>
    </ul>
</div>
<!--END-->