<if condition="$USER_LEVEL lt 10"> <!-- 最高权限 -->
<div id="sidebar-wrapper">
	<!-- Logo (221px wide) -->
	<img id="logo" src="__PUBLIC__/resources/images/logo.png"
		alt="{$APPLICATION_NAME}系统后台" />
	<!-- Sidebar Profile links -->
	<div id="profile-links">
		您好, <a href="{:U('User/userSetting','userid=' . $USER_ID)}"
			title="Edit your profile">{:session('userAccount')} ! </a><br /> <br />
		<a href="{:U('User/userSetting','userid=' . $USER_ID)}"
			title="View the Site">个人信息设置</a> | <a href="{:U('Login/logout')}"
			title="Sign Out">登出</a>
	</div>
	<ul id="main-nav">
		<li><a href="{:U('WorkTendency/allPage')}"<if
					condition="$CURRENT_MENU eq 'WORKTENDENCY'">
				class="nav-top-item no-submenu current" <else />
				class="nav-top-item no-submenu" </if>>工作动态</a></li>

		<li><a href="#"<if condition="$CURRENT_MENU eq '专题建设'">
				class="nav-top-item no-submenu current" <else />
				class="nav-top-item no-submenu" </if>>专题建设</a>
			<ul>
				<li><a href="#">在这里感悟爱国</a></li>
				<li><a href="#">在这里领悟创新</a></li>
				<li><a href="#">在这里追求富强</a></li>
				<li><a href="#">在这里勇于担当</a></li>
			</ul></li>
		<li><a href="{:U('Notice/allNotice')}"<if condition="$CURRENT_MENU eq 'NOTICE'">
				class="nav-top-item no-submenu current" <else />
				class="nav-top-item no-submenu" </if>>通知公告</a></li>
		<li><a href="{:U('ActivityPractice/allActivityPractice')}"<if condition="$CURRENT_MENU eq 'ACTIVITYPRACTICE'">
				class="nav-top-item no-submenu current" <else />
				class="nav-top-item no-submenu" </if>>活动实践</a></li>
		<li><a href="#"<if condition="$CURRENT_MENU eq '支部风采'">
				class="nav-top-item no-submenu current" <else />
				class="nav-top-item no-submenu" </if>>支部风采</a></li>
		<li><a href="{:U('Download/allDownload')}"<if
					condition="$CURRENT_MENU eq 'DOWNLAODSETTING'">
				class="nav-top-item no-submenu current" <else />
				class="nav-top-item no-submenu" </if>>下载管理</a></li>
		<li><a href="{:U('User/userSetting','userid=' . $USER_ID)}"<if
					condition="$CURRENT_MENU eq 'USER'"> class="nav-top-item
				no-submenu current" <else /> class="nav-top-item no-submenu" </if>>个人设置</a></li>
		<li><a href="#"<if
					condition="($CURRENT_MENU eq 'ACADEMYBRANCHSETTING') OR ($CURRENT_MENU eq 'ACCOUNTSETTING')">
				class="nav-top-item no-submenu current" <else />
				class="nav-top-item no-submenu" </if>>系统设置</a>
			<ul>
				<li><a href="{:U('SystemSetting/organizationSystemSetting')}"<if
							condition="$CURRENT_MENU eq 'ACADEMYBRANCHSETTING'">
						class="current" <else /> class="" </if>>学院支部设置</a></li>
				<li><a href="{:U('SystemSetting/accountSetting')}"<if
							condition="$CURRENT_MENU eq 'ACCOUNTSETTING'">
						class="current" <else /> class="" </if>>人员设置</a></li>
			</ul></li>
	</ul>
</div>
<elseif condition="($USER_LEVEL gt 10) AND ($USER_LEVEL lt 20)" /> <!-- 学院权限 -->
学院菜单 <else /> <!-- 支部权限 --> 支部菜单 </if>
