/*全局样式*/
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color:#000;
}
a:hover{
    color:#FDC516;
}
ul,li{
    list-style: none;
}
html,body{
    height:100%;
}
body{
    font-family: "宋体";
    font-style: normal;
    font-size:13px;
    background: url(../img/sg1.png) repeat-x;

}
i{
    margin:0 5px 0 5px;
}
img{
    border:none; /*去除在IE下有边框的情况*/
}
.comWidth{
    width: 960px; /*页面的宽度*/
    height: auto;
    margin:0 auto;
}

.left{
    float:left;
}
.right{
    float:right;
}

.hidden{
    display: none !important;
}


/*头部*/
#header{
   height: 95px;
    overflow: hidden;
    background: url(../img/top.png) no-repeat;
}
#logo img{
    display: inline-block;
    height: 95px;
}
#link{
   margin-top:60px;
    line-height: 35px;
}
#link a{
    color:#FFFFFF;
}
#link a:hover{
    color:#FDC516;
}
/*导航栏*/
#nav{
    background: url(../img/nav.png) no-repeat;
}
#nav ul{
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size:16px;
    font-weight: 700;

}
#nav li{
    display: block;
    position:relative;
    float:left;
    width: 120px;
    height: 100%;

}

#nav a{
    color:#C5130A;
    display: block;
    width: 120px;
    height: 100%;
}
#nav a:hover{
    cursor: pointer;
    color:#FFFFFF;
    background-color: #F14700;
}

#nav .subnav {
    display: block;
    position: absolute;
    top: 40px;
    left: 0;
    width: 120px;
    height: auto;
    background-color: #FDC516;
    font-size:12px;
    z-index:1000;
}
#nav .subnav li{
    height:40px;
    line-height: 40px;
    border-top:solid 1px #fff;

}

/*图片轮播区*/
#bgPic{
    margin-top: 8px;
    position: relative;
    height:300px;
    overflow: hidden;
}
#bgPic a{
    position: absolute;
}

#smallDiv{
    position: absolute;
    top:250px;
    right:50px;
}
#smallDiv ul li{
    display: block;
    float: left;
    width: 25px;
    height: 25px;
    background-color: #FFFFFF;
    margin-left: 10px;
    text-align: center;
    line-height: 25px;
    color: #F14700;
    font-size: 15px;
    font-weight: 700;
}
#smallDiv ul li:hover{
    cursor: pointer;
}
#smallDiv ul .active{
    background-color: #ed1941;
    color:#FFFFFF;

}
/*内容区*/
#content{
    margin-top: 5px;
    height:458px;
    overflow: hidden;
}
#area-1{
    width:640px;
    height:458px;
}
.area{
    margin-top: 10px;
    width: 315px;
    height:214px;
    margin-right:5px;


}

.info_title{
    display: block;
    height:30px;
    color: #FFFFFF;
    font-size: 17px;
    font-weight: 300;
    text-indent: 10px;
    line-height: 30px;
    background: url(../img/area-title.png) no-repeat;
}
.info_title span{
    font-size: 15px;
    margin-right: 10px;
}

.info_body{
    width: 100%;
    height:184px;
    background: url(../img/area-body.png) no-repeat;
}
.info_body a{
    background: url(../img/q.gif) no-repeat 4px 7px;
    text-indent:15px;
    font-size: 13px;
    display: block;
    width: 100%;
    height: 25px;
    line-height: 25px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.info_body a:hover{
    text-decoration: underline;
    color:#ed1941;
}
#area-2{
    width:320px;
    height:458px;
    background:url(../img/bg_block.png) no-repeat;
    margin:10px auto;
}
#area-2 a{
    display: block;
    position: relative;
    margin:13px auto;
    width: 140px;
    height: 130px;
}
#area-2 a img{
    width: 140px;
    height: 130px;
}
#area-2 .bar{
    position: absolute;
    width: 100%;
    height:40px;
    background-color: #000000;
    top:90px;
    opacity: 0.7;
    filter:alpha(opacity=70);
    color: #FFFFFF;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
}
/*底部*/
#footer{
    margin-top: 15px;
    height:55px;
    color:#727272;
    background-color: #C8DBE9;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 10px;
}