<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>活动实践-社会实践</title>
    <load href="__PUBLIC__/res/css/global.css" />
    <load href="__PUBLIC__/res/css/left_col.css" />
    <load href="__PUBLIC__/res/css/practice_right_col.css" />
    <load href="__PUBLIC__/res/js/jquery-1.11.3.min.js" />
</head>
<body>

<!--引入头部-->
<include file="Layout/header"/>
<!--局部导航栏
<div class="position_nav comWidth">
    <span class="position_nav_pre">活动实践&gt;</span>
    <span class="position_nav_current">社会实践</span>

</div>
END-->

<!--内容区域-->
<div id="content" class="comWidth">
    <!--左边栏-->
    <div class="left_col left">
        <div class="left_col_title">
            活动实践
        </div>
        <div class="left_col_items">
            <ul>
                <li class="active"><a href="{:U('PracticalActivities/socialPractice')}">社会实践</a></li>
                <li><a href="{:U('PracticalActivities/voluntaryService')}">志愿服务</a></li>
            </ul>
        </div>
    </div>
    <!--END-->

    <!--右边栏-->
    <div class="right_col right">
        <div class="right_col_title">社会实践</div>
        <div class="right_col_lists">
            <ul class="right_col_list">
                <li><a href="">新闻1</a></li>
                <li><a href="">新闻2</a></li>
                <li><a href="">新闻3</a></li>
                <li><a href="">新闻4</a></li>
                <li><a href="">新闻5</a></li>
                <li><a href="">新闻6</a></li>
                <li><a href="">新闻7</a></li>
                <li><a href="">新闻8</a></li>
                <li><a href="">新闻9</a></li>
                <li><a href="">新闻10新闻10新闻10新闻10新闻10新闻10新闻10新闻10新闻10新闻10</a></li>
            </ul>
        </div>
    </div>
    <!--END-->
</div>
<!--END-->

<!--引入底部-->
<include file="Layout/footer"/>
<!--END-->
<load href="__PUBLIC__/res/js/nav.js" />
</body>
</html>