<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>活动实践-志愿服务</title>
    <load href="__PUBLIC__/res/css/global.css" />
    <load href="__PUBLIC__/res/css/left_col.css" />
    <load href="__PUBLIC__/res/css/practice_right_col.css" />
    <load href="__PUBLIC__/res/js/jquery-1.11.3.min.js" />
</head>
<body>

<!--引入头部-->
<include file="Layout/header"/>

<!--内容区域-->
<div id="content" class="comWidth">
    <!--左边栏-->
    <div class="left_col left">
        <div class="left_col_title">
            活动实践
        </div>
        <div class="left_col_items">
            <ul>
                <li><a href="{:U('PracticalActivities/socialPractice')}">社会实践</a></li>
                <li class="active"><a href="{:U('PracticalActivities/voluntaryService')}">志愿服务</a></li>
            </ul>
        </div>
    </div>
    <!--END-->

    <!--右边栏-->
    <div class="right_col right">
        <div class="right_col_title">志愿服务</div>
        <div class="right_col_lists">
            <ul class="right_col_list">
                <foreach name="list" item="item">
                    <li>
                        <a href="{:U('PracticalActivities/showContent','activitypracticeid=' . $item[activitypracticeid])}">{$item[activitypracticetitle]}</a>
                    </li>
                </foreach>
            </ul>
        </div>
    </div>
    <!--END-->
</div>
<!--END-->
<div class="lnzm_page comWidth">{$page}</div>
<!--底部-->
<include file="Layout/footer"/>
<!--END-->
<load href="__PUBLIC__/res/js/nav.js" />
</body>
</html>