
/*内容区*/
#content{
    margin-top: 40px;
    overflow-x: hidden;
    letter-spacing: 3px;
    line-height: 25px;
}

.article{
    width: 880px;
    padding: 10px 40px 0 40px;
    background-color: #ffffff;
}

.back{
    display: block;
    margin-top: 10px;
    width:80px;
    height: 25px;
    background:url(../img/back.png) no-repeat;
    margin-right: 30px;
}


