
/*内容区*/
#content{
    margin-top: 40px;
    overflow-x: hidden;
}


.back{
    display: block;
    margin-top: 10px;
    width:80px;
    height: 25px;
    background:url(../img/back.png) no-repeat;
    margin-right: 30px;
}


