/**/
.right_col{
    width:730px;
    letter-spacing: 3px;
    background: url(../img/introduction_bg.png) no-repeat;
}
.right_col_title{
    width: 100%;
    height:50px;
    line-height: 50px;
    font-size:25px;
    color:#C5130A;
    text-align: center;
}

.right_col_content{
    width: 680px;
    margin: 0 auto;
}

.right_col_content span{
    height: 30px;
    line-height: 30px;
}