#content{
    margin:25px auto;
    height:450px;
}

#content img{
    height:188px;
    width: 155px;
    float: left;
}
.head{
    height: 50px;
    width: 100%;
    background: url(../img/content_bg.png) no-repeat ;
}
.wrap{
    height:350px;
    background-color: #F8F8F8;
    text-indent: 2em;
    font-family: "ו";
    padding-left: 120px;
    padding-right: 120px;
}
.detail h2{
    width: 100%;
    line-height: 30px;
}
.detail p{
    width: 100%;
    font-size: 14px;
    line-height: 28px;
}
.detail{
    width: 450px;
    margin-left: 200px;
}
