#content{
    margin:25px auto;
}


.head{
    height: 50px;
    width: 100%;
    background: url(../img/content_bg.png) no-repeat ;
}
.wrap{
    height:350px;
    background-color: #F8F8F8;
}
.detail{
    width: 700px;
    margin: 0 auto;
}
h2{
    height:50px;
    line-height: 50px;
    border-bottom: 1px solid #949BB1;
    text-indent: 2em;
}
small{
    color:#949BB1;
    font-size: 14px;
}
.detail img{
    display: block;
    margin: 50px auto;
}


