
/*顶部*/
.pre_header{
    display: block;
    width: 730px;

}

/**/

.right_col{
    width:730px;
    height: 1730px;
    margin-bottom: 25px;
    letter-spacing: 3px;
    background: url(../img/introduction_bg.png) no-repeat ;
}
.right_col_content p{
    text-indent: 2em;
}
.right_col_title{
    text-align:right;
    padding-top: 15px;
    padding-right: 50px;
}

.right_col_content{
    width: 660px;
    margin:0 auto;
    color:#393636;
}

.right_col_content span{
    height: 30px;
    line-height: 30px;
}
